{% if post.read_time %}
	{% assign words = post.content | strip_html | number_of_words %}
{% elsif page.read_time %}
	{% assign words = page.content | strip_html | number_of_words %}
{% endif %}

{% assign wpm = site.words_per_minute %}
{% if wpm %}
	{% if words < 180 %}
		<span class="lang-en">less than 1 min read</span>
		<span class="lang-pt">menos de 1 min de leitura</span>
	{% elsif words < 360 %}
		<span class="lang-en">1 min read</span>
		<span class="lang-pt">1 min de leitura</span>
	{% else %}
		{% assign minutes = words | divided_by: wpm %}
		<span class="lang-en">{{ minutes }} min read</span>
		<span class="lang-pt">{{ minutes }} min de leitura</span>
	{% endif %}
{% else %}
	{{ site.data.ui-text[site.locale].undefined_wpm | default: "Undefined parameter words_per_minute at _config.yml" }}
{% endif %}